.btn {
    border: none;
    color: #fff;
    padding: 0.75em 1em;
    margin: 20px 0;
    outline: none;
    border-radius: 7.5px;
    cursor: pointer;
    position: sticky;
    text-decoration: none;
    display: block;
    text-decoration: none;
    user-select: none;
    width: fit-content;
    font-size: 1em;
  }

  .btn-pri {
    @extend .btn;
    background: linear-gradient(-110deg, #5db1ff 10%, #166ab8 80%);
  }

  .btn-sec {
    @extend .btn;
    background: linear-gradient(-110deg, #4ad49f 10%, #0a8340 80%);
  }

  .btn-warn {
    @extend .btn;
    background: linear-gradient(-110deg, #ffb34f 10%, #dd9613 80%);
  }

  .btn-err {
    @extend .btn;
    background: linear-gradient(-110deg, #f76743 10%, #c21c1c 80%);
  }