@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #222;
  overflow-x: hidden;
}

html body {
  color: #fff;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

html body .preloader {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222;
  z-index: 999;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

html body .preloader .center-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 450px;
}

html body .preloader .center-container span {
  font-size: 1.5em;
}

html body .preloader .center-container .rippll-container {
  height: 100%;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .preloader .center-container .rippll-container preloader-ripple {
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  -webkit-animation: pip-ripple 1.75s linear forwards infinite;
          animation: pip-ripple 1.75s linear forwards infinite;
  background: #ffffff00;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

@-webkit-keyframes pip-ripple {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
    height: 25px;
    width: 25px;
    background: #ffffff25;
  }
  80% {
    opacity: 0;
    width: 50px;
    height: 50px;
    background: #ffffff;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pip-ripple {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
    height: 25px;
    width: 25px;
    background: #ffffff25;
  }
  80% {
    opacity: 0;
    width: 50px;
    height: 50px;
    background: #ffffff;
  }
  100% {
    opacity: 0;
  }
}

html body .btn-pri {
  background: linear-gradient(-110deg, #5db1ff 10%, #166ab8 80%);
}

html body .btn-sec {
  background: linear-gradient(-110deg, #4ad49f 10%, #0a8340 80%);
}

html body .btn-warn {
  background: linear-gradient(-110deg, #ffb34f 10%, #dd9613 80%);
}

html body .btn-err {
  background: linear-gradient(-110deg, #f76743 10%, #c21c1c 80%);
}

html body .btn {
  border: none;
  color: #fff;
  padding: 0.75em 1em;
  margin: 20px 0;
  outline: none;
  border-radius: 7.5px;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  text-decoration: none;
  display: block;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
}

html body .main {
  width: 1200px;
}

code {
  font-family: "Fira Code", monospace;
  background: #ffffff25;
  padding: 2.5px 5px;
  border-radius: 5px;
}

p {
  line-height: 2;
}

.rippllino-code {
  background: #f4f4f425;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7.5px 15px;
  font-family: "Fira Code", monospace;
  margin-top: 15px;
  border-radius: 5px;
}

note {
  color: #ffb5a2;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1, h2, h3 {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */