@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
$code-font : 'Fira Code', monospace;
$bg-dark-1: #222;
$bg-dark-2:  #ffffff25;
@import 'page_load_animation'; // page load animation

// css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: $bg-dark-1;
  color: #fff;
  overflow-x: hidden;
  font-family: sans-serif;
}

body {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;



    .btn-pri {
      background: linear-gradient(-110deg, #5db1ff 10%, #166ab8 80%);
    }

    .btn-sec {
      background: linear-gradient(-110deg, #4ad49f 10%, #0a8340 80%);
    }

    .btn-warn {
      background: linear-gradient(-110deg, #ffb34f 10%, #dd9613 80%);
    }

    .btn-err {
      background: linear-gradient(-110deg, #f76743 10%, #c21c1c 80%);
    }

    .btn {
      border: none;
      color: #fff;
      padding: 0.75em 1em;
      margin: 20px 0;
      outline: none;
      border-radius: 7.5px;
      cursor: pointer;
      position: sticky;
      text-decoration: none;
      display: block;
      text-decoration: none;
      user-select: none;
      width: fit-content;
      font-size: 1em;
    }

    main {
      width: 1200px;
    }
  }


code {
  font-family: $code-font;
  background: $bg-dark-2;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-radius: 0.2em;
}

note {
  color: #ffaa94;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1, h2, h3 {
  text-align: center;
  margin: 0.7rem auto;
}

p {
  padding: 1.3em auto;
  line-height: 1.6em;
}