/* Default @btn Colors */
$primary: #007bff;
$primary-hov-clr: #0069d9;
$secondary: #6c757d;
$secondary-hov-clr: #5a6268;
$success: #28a745;
$success-hov-clr: #218838;
$danger: #dc3545;
$danger-hov-clr: #c82333;
$warning: #ffc107;
$warning-hov-clr: #e0a800;
$info: #17a2b8;
$info-hov-clr: #138496;
$light: #f8f9fa;
$light-hov-clr: #e2e6ea;
$dark: #343a40;
$dark-hov-clr: #23272b;

$indigo: #6610f2;
$indigo-hov-clr: #6610f2;
$purple: #6f42c1;
$purple-hov-clr: #6f42c1;
$pink: #e83e8c;
$pink-hov-clr: #e83e8c;
$white: #fff;
$white-hov-clr: #fff;
$orange: #fd7e14;
$orange-hov-clr: #fd7e14;
$teal: #20c997;
$teal-hov-clr: #20c997;

$default-font: 'Segoe UI', sans-serif;

[data-bootstrap-buttons] {
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    font-family: $default-font;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    background: $primary;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      background-color: $primary-hov-clr;
    }

    &:focus,
    &:active {
      // color: #fff;
      border-color: #0062cc;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
  }

  /* default-normal buttons */
  .btn-primary {
    @extend .btn;

    &:hover {
      background-color: $primary-hov-clr;
    }

    &:focus,
    &:active {
      color: #fff;
      border-color: #0062cc;
      box-shadow: 0 0 0 0.2rem rgba($color: $primary, $alpha: 0.5);
    }
  }
  .btn-secondary {
    @extend .btn;
    background-color: $secondary;

    &:hover {
      background-color: $secondary-hov-clr;
    }

    &:focus,
    &:active {
      color: #fff;
      border-color: #5a6268;
      box-shadow: 0 0 0 0.2rem rgba($color: $secondary, $alpha: 0.5);
    }
  }
  .btn-success {
    @extend .btn;
    background-color: $success;

    &:hover {
      background-color: $success-hov-clr;
    }

    &:focus,
    &:active {
      color: #fff;
      border-color: #1e7e34;
      box-shadow: 0 0 0 0.2rem rgba($color: $success, $alpha: 0.5);
    }
  }
  .btn-danger {
    @extend .btn;
    background-color: $danger;

    &:hover {
      background-color: $danger-hov-clr;
    }

    &:focus,
    &:active {
      color: #fff;
      border-color: #c82333;
      box-shadow: 0 0 0 0.2rem rgba($color: $danger, $alpha: 0.5);
    }
  }
  .btn-warning {
    @extend .btn;
    background-color: $warning;

    &:hover {
      background-color: $warning-hov-clr;
    }

    &:focus,
    &:active {
      color: #fff;
      border-color: #e0a800;
      box-shadow: 0 0 0 0.2rem rgba($color: $warning, $alpha: 0.5);
    }
  }
  .btn-info {
    @extend .btn;
    background-color: $info;

    &:hover {
      background-color: $info-hov-clr;
    }

    &:focus,
    &:active {
      color: #fff;
      border-color: #117a8b;
      box-shadow: 0 0 0 0.2rem rgba($color: $info, $alpha: 0.5);
    }
  }
  .btn-light {
    @extend .btn;
    background-color: $light;
    color: #333333;

    &:hover {
      background-color: $light-hov-clr;
      color: #333333;
    }

    &:focus,
    &:active {
      color: #333333;
      border-color: #e2e6ea;
      box-shadow: 0 0 0 0.2rem rgba($color: $light, $alpha: 0.5);
    }
  }
  .btn-dark {
    @extend .btn;
    background-color: $dark;

    &:hover {
      background-color: $dark-hov-clr;
    }

    &:focus,
    &:active {
      border-color: #23272b;
      box-shadow: 0 0 0 0.2rem rgba($color: $dark, $alpha: 0.5);
    }
  }
  .btn-link {
    @extend .btn;
    background-color: transparent;
    color: $primary;

    &:hover {
      background-color: transparent;
      color: $primary-hov-clr;
    }

    &:focus,
    &:active {
      color: $primary;
      text-decoration: underline;
    }
  }

  /* outline-secondary buttons */
  .btn-primary-outline {
    @extend .btn;
    background: transparent;
    border-color: $primary;
    color: $primary;

    &:hover {
      color: #fff;
      background-color: $primary-hov-clr;
    }

    &:focus,
    &:active {
      border-color: #0062cc;
      box-shadow: 0 0 0 0.2rem rgba($color: $primary, $alpha: 0.5);
    }
  }
  .btn-secondary-outline {
    @extend .btn;
    background: transparent;
    border-color: $secondary;
    color: $secondary;

    &:hover {
      color: #fff;
      background-color: $secondary-hov-clr;
    }

    &:focus,
    &:active {
      border-color: #5a6268;
      box-shadow: 0 0 0 0.2rem rgba($color: $secondary, $alpha: 0.5);
    }
  }
  .btn-success-outline {
    @extend .btn;
    background: transparent;
    border-color: $success;
    color: $success;

    &:hover {
      color: #fff;
      background-color: $success-hov-clr;
    }

    &:focus,
    &:active {
      border-color: #1e7e34;
      box-shadow: 0 0 0 0.2rem rgba($color: $success, $alpha: 0.5);
    }
  }
  .btn-danger-outline {
    @extend .btn;
    background: transparent;
    border-color: $danger;
    color: $danger;

    &:hover {
      color: #fff;
      background-color: $danger-hov-clr;
    }

    &:focus,
    &:active {
      border-color: #c82333;
      box-shadow: 0 0 0 0.2rem rgba($color: $danger, $alpha: 0.5);
    }
  }
  .btn-warning-outline {
    @extend .btn;
    background: transparent;
    border-color: $warning;
    color: $warning;

    &:hover {
      color: #fff;
      background-color: $warning-hov-clr;
    }

    &:focus,
    &:active {
      border-color: #e0a800;
      box-shadow: 0 0 0 0.2rem rgba($color: $warning, $alpha: 0.5);
    }
  }
  .btn-info-outline {
    @extend .btn;
    background: transparent;
    border-color: $info;
    color: $info;

    &:hover {
      color: #fff;
      background-color: $info-hov-clr;
    }

    &:focus,
    &:active {
      border-color: #117a8b;
      box-shadow: 0 0 0 0.2rem rgba($color: $info, $alpha: 0.5);
    }
  }
  .btn-light-outline {
    @extend .btn;
    background: transparent;
    border-color: $light;
    color: $light;

    &:hover {
      color: #333333;
      background-color: $light-hov-clr;
    }

    &:focus,
    &:active {
      border-color: #e2e6ea;
      box-shadow: 0 0 0 0.2rem rgba($color: $light, $alpha: 0.5);
    }
  }
  .btn-dark-outline {
    @extend .btn;
    background: transparent;
    border-color: $dark;
    color: $dark;

    &:hover {
      color: #fff;
      background-color: $dark-hov-clr;
    }

    &:focus,
    &:active {
      border-color: #23272b;
      box-shadow: 0 0 0 0.2rem rgba($color: $dark, $alpha: 0.5);
    }
  }
}
