// ** font-families
$segoe-ui: 'Arial', sans-serif;
$segoe-ui: 'Calibri', sans-serif;
$segoe-ui: 'Segoe UI', sans-serif;

// ** font-weight
$lightest: 100;
$lighter: 200;
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 600;
$boder: 700;
$extra-bold: 800;
$ultra-bold: 900;

// ** Colors

// ! for-bootstrap
// normal-else color
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

// butoon-color
$primary: #007bff;
$primary-hov-clr: #0069d9;
$secondary: #6c757d;
$secondary-hov-clr: #5a6268;
$success: #28a745;
$success-hov-clr: #218838;
$danger: #dc3545;
$danger-hov-clr: #c82333;
$warning: #ffc107;
$warning-hov-clr: #e0a800;
$info: #17a2b8;
$info-hov-clr: #138496;
$light: #f8f9fa;
$light-hov-clr: #e2e6ea;
$dark: #343a40;
$dark-hov-clr: #23272b;

// ! custom properties
// buttons
$primary: #57a8ff;
$primary-sec: #005dc0;
$secondary: #666666;
$secondary-sec: #222222;
$success: #3ee665;
$success-sec: #00791a;
$danger: #ff6b79;
$danger-sec: #c41527;
$warning: #ffe185;
$warning-sec: #e4ab00;
$info: #31dffa;
$info-sec: #0495ac;
$light: #fff;
$light-sec: #ccc;
$dark: #444444;
$dark-sec: #222222;

// gradient-buttons
$primary-gradient: linear-gradient(105deg, $primary 35%, $primary-sec 75%);
$secondary-gradient: linear-gradient(
  105deg,
  $secondary 35%,
  $secondary-sec 75%
);
$success-gradient: linear-gradient(105deg, $success 35%, $success-sec 75%);
$danger-gradient: linear-gradient(105deg, $danger 35%, $danger-sec 75%);
$warning-gradient: linear-gradient(105deg, $warning 35%, $warning-sec 75%);
$info-gradient: linear-gradient(105deg, $info 35%, $info-sec 75%);
$light-gradient: linear-gradient(105deg, $light 35%, $light-sec 75%);
$dark-gradient: linear-gradient(105deg, $dark 35%, $dark-sec 75%);

/*
  * 3d-buttons
  ! 3d-buttons follow gradient-buttond and will use shadows
*/
// shadows
$box-shadow: 0px 1.5px 0.5rem 2px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );
$box-shadow-hov: 0px 1.5px 0.75rem 1px
  rgba(
    $color: #000000,
    $alpha: 0.4,
  );

// ** transition properties
$button-transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
  color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95), box-shadow 250ms ease;
$button-before-transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
